@page
@model PocketBalance.Pages.Expenses.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="row my-4">
    <div class="col">
        <h3>List of expenses</h3>
    </div>
    <div class="col d-flex flex-row-reverse">
        <a class="btn btn-primary align-content-end" asp-page="Create">New Expense</a>
    </div>
</div>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].ExpenseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Amount) <span>(RM)</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].ExpenseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].ExpenseCategoryId)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Expense) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseCategory.ExpenseCategoryName)
            </td>
            <td>
                <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
